{% extends 'base.html' %}

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
  {% block content %}
  <main class="container py-5">
        <section class="card card-body">
        <h1 class="display-1 text-center"> WELCOME TO THE DJANGO CRUD </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad alias aliquam aspernatur at dolorem ea fuga harum id impedit inventore labore laborum minus molestiae mollitia nesciunt nisi odit officia repellendus sed tempora ullam ut veniam? Aliquid at consectetur dicta doloribus eius esse harum, laudantium obcaecati omnis, placeat possimus repellat tempora tempore temporibus tenetur! Accusantium, asperiores aut beatae, blanditiis cumque dicta eaque, earum eum ex exercitationem fugit inventore ipsa iste maiores maxime natus odio odit pariatur provident quisquam repellat reprehenderit tempora voluptatum. Corporis, cum deleniti dolorem eaque incidunt molestiae nostrum porro quis sed vero. At eaque facilis nobis omnis sed!</p>
      </section>
      <br>
      <div class="text-center">
        <a class="btn btn-secondary" href="/signin/"> Sign In </a>
        <a class="btn btn-primary" href="/signup/"> Sign up </a>
      </div>
  </main>
  {% endblock %}
</body>
</html>